*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Helvetica;
}

body{
    background-color: rgb(56, 56, 56);
}

#calculadora{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 200px auto;
    min-height: 400px;
    width: 300px;
    background-color: gray;
    border: 5px solid black;
    border-radius: 10px;
}

#nome{
    font-size: 14pt;
    text-align: center;
    padding-left: 8px;
    padding-top: 8px;
    font-weight: bold;
}

#visor{
    min-height: 70px;
    width: 85%;
    border: 4px solid black;
    background-color: rgb(221, 221, 221);
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 40px;
}

#current_calc{
    color: rgb(78, 78, 78);
    font-size: 12pt;
    padding-top: 3px;
    min-height: 21px;
}

#dig_calc{
    color: black;
    font-size: 20pt;
    float: right;
    padding-top: 10px;
    font-weight: bold;
}

#current_calc,#dig_calc{
    overflow-wrap:break-word;
    width: 100%;
}

#buttons{
    margin: 15px auto;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 5px;
}

.botao{
    height: 40px;
    width: 65px;
    background-color: rgb(153, 153, 153);
    border: 1px solid black;
    font-weight: bold;
    font-size: 12pt;
}

.botao:hover{
    cursor:pointer;
    border: 2px solid black;
}

.numero{
    background-color: white;
    font-size: 14pt;
}

.numero:hover{
    font-size: 18pt;
}

#igual{
    background-color: rgb(60, 110, 247);
    grid-column: span 2;
    width: 135px;
    font-size: 16pt;
    border: 2px solid black;
}

.operadores{
    font-size: 18pt;
}

.operadores:hover{
    font-size: 18pt;
}